/*=========웹폰트 선언=========*/
@import
	url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap')
	;

/*디자인 시작시 기본 선언*/
* { /* 기본선언: 마딩, 패딩 0, 요소크기에 padding, border값을 포함 x*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

td {
    vertical-align: middle;
}

/* 버튼 클릭 시 점선테두리 없애기 */
*:focus { outline:none; }

/* placeholder 클릭시 안보이는 기능 */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers / color:transparent; } input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { / Mozilla Firefox 4 to 18 / color:transparent; } input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { / Mozilla Firefox 19+ / color:transparent; } input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { / Internet Explorer 10+ */ color:transparent; }

/* 글쓰는 공간 크기 고정 */
textarea {resize: none;}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600'); 

/* $open-sans: 'Open Sans', 'Helvetica', sans-serif; 글씨체 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
/* $open-sans: 'Open Sans', 'Helvetica', sans-serif;
 글씨체 */
/* MIXINS */
/* STYLE THE HTML ELEMENTS (INCLUDES RESETS FOR THE DEFAULT FIELDSET AND LEGEND STYLES) */
 body, html {
	 margin: 0;
	 padding: 1rem;
	 box-sizing: border-box;
	 width: 100%;
	 height: 100%;
	 font-size: 16px;
	/* font-family: $open-sans; 글씨체*/
	 -webkit-font-smoothing: antialiased;
/* 	 background-color: #eee; */
}
/*  fieldset {
	 margin: 0;
	 padding: 2rem;
	 box-sizing: border-box;
	 display: block;
	 border: none;
	 border: solid 1px #ccc;
	 min-width: 0;
	 background-color: #fff;
}
 fieldset legend {
	 margin: 0 0 1.5rem;
	 padding: 0;
	 width: 100%;
	 float: left;
	 display: table;
	 font-size: 1.5rem;
	 line-height: 140%;
	 font-weight: 600;
	 color: #333;
}
 fieldset legend + * {
	 clear: both;
} 
 body:not(:-moz-handler-blocked) fieldset {
	 display: table-cell;
}*/

/* BUTTON STYLING 버튼*/
.btn {
	border-radius: 6px;
	background-color: #876c5c;	
	color: white;
	margin: 1.5 1.5 1.5 1.5;
	text-align: center;	
	transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
	box-shadow: 0 0 5px rgba(135, 108, 92, .5);
	cursor: pointer;
}

.btn-select{
	width: 8rem;
	font-size:1rem;  
	background-color: #876c5c;
}

input[type=range]::-webkit-slider-thumb {
    background: #876c5c;
}
input[type=range]::-moz-range-thumb {
    background: #876c5c;
}
input[type=range]::-ms-thumb {
    background: #876c5c;
}


/* 회차 당 시간 체크 */
.t-control {
	margin-bottom: 10px;
}

.t-control .form-range {
    width: 300px;
    color: #000;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}



/* TOGGLE STYLING 토클 버튼*/
 .toggle {
	 margin: 0 0 1.5rem ;
	 box-sizing: border-box;
	 font-size: 0;
	 display: flex;
	 flex-flow: row nowrap;
	 justify-content: flex-start;
	 align-items: stretch;
     cursor: pointer;
}
 .toggle input {
	 width: 0;
	 height: 0;
	 position: absolute;
	 left: -9999px;
}
 .toggle input + label {
	 margin-top: 0rem;
	 margin-bottom: -1.5rem;
	 padding: 0.75rem 2rem;
	 box-sizing: border-box;
	 position: relative;
	 display: inline-block;
	 border: solid 1px #ddd;
	 background-color: #fff;
	 font-size: 1rem;
	 line-height: 140%;
	 font-weight: 600;
	 text-align: center;
	 box-shadow: 0 0 0 rgba(255, 255, 255, 0);
	 transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
	/* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
	/*flex: 0 0 50%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	*/
	/* ----- */
}
 .toggle input + label:first-of-type {
     cursor: pointer;
	 border-radius: 6px 0 0 6px;
	 border-right: none;
}
 .toggle input + label:last-of-type {
     cursor: pointer; 
	 border-radius: 0 6px 6px 0;
	 border-left: none;
}
 .toggle input:hover + label {
	 border-color: #876c5c;
}
 .toggle input:checked + label {
	 background-color: #876c5c;
	 color: #fff;
	 box-shadow: 0 0 10px rgba(135, 108, 92, .5);
	 border-color: #876c5c;
	 z-index: 1;
}

/* +/- 인원수 버튼 */
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 30px;
	min-width: 10px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: center;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    border-radius: 50%;
    text-align: center;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: center;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    border-radius: 50%;
    background-clip: padding-box;
    text-align: center;   
}

.minus {
    vertical-align: center;
	background-color: #876c5c;
	box-shadow: 0 0 5px rgba(135, 108, 92, .5);
}
.plus {
    vertical-align: center;
	background-color: #876c5c;
	box-shadow: 0 0 5px rgba(135, 108, 92, .5);
}

.minus:hover{
    background-color: #e8ddcc !important;
}
.plus:hover{
    background-color: #e8ddcc !important;
}

/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}





 @media (max-width: 800px) {
	 .toggle input + label {
		 padding: 0.75rem 0.25rem;
		 flex: 0 0 50%;
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}
}
/* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
 .status {
	 margin: 0;
	 font-size: 1rem;
	 font-weight: 400;
}
 .status span {
	 font-weight: 600;
	 color: #b6985a;
}
 .status span:first-of-type {
	 display: inline;
}
 .status span:last-of-type {
	 display: none;
}
 @media (max-width: 800px) {
	 .status span:first-of-type {
		 display: none;
	}
	 .status span:last-of-type {
		 display: inline;
	}
}
 

.star_grade a{
	text-decoration: none;
	color: gray;
	font-size: 30px;
	cursor: hand;
}
.star_grade a.on{
    color: darkgoldenrod;
}

#notice_review_star {
	text-align:right;
	text-decoration: none;
	font-size: 20px;

}
#notice_review_star a {
	color: darkgoldenrod;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.star{
	color: darkgoldenrod;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body, html {
	width: 100%;
	min-width: 320px;
	font-family: 'Noto Sans KR', sans-serif; /*웹폰트 사용*/
}

img {
	max-width: 100%; /*사이즈가 변해도 넓이를 유지 */
	height: auto; /*사이즈가 변해도 높이를 유지 */
	/*vertical-align: top;*/
}

input, textarea, button, select {
	/*고유하게 적용되어있는 form관련 요소들을 제거해서 여러브라우저에서 동일한디자인을 얻게함*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none
}

ul, ol, dl, li {
	list-style: none /*순서 요소들이 리스트스타일을 업앤다 */
}

/*=========헤더=========*/
.carousel-control.right, .carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
		rgba(0, 0, 0, 0) 100%)
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50; /*position을 이용하면 요소가 겹쳐질 수 있다. 숫자가 제일 높은값이 위로 떠오른다*/
}

header {
	background: #263238;
}

section {
	margin-top: 50px;
}

/*header 의 모든 컨테이너 클래스에 적용함 */
header .container {
	padding: 0;
}
/*navbar의 margin: 0으로 */
.navbar {
	margin-bottom: 0px;
}
/*이미지 위치 조정 */
.navbar-brand {
	padding: 10px 15px;
}

/*na의 a 호버시 기능 변경 */
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #304047;
}

/* 토글메뉴 윤곽색 변경 */
.navbar-toggle {
	border-color: white;
}

.navbar-toggle>.icon-bar {
	background-color: white;
}
/*개발자도구에서 확인후 색깔변경*/
.nav .open>a:focus {
	background-color: #304047;
}
/*부트스트랩의 드롭다운시 a태그 색상변경  */
.dropdown-menu>li>a {
	color: #f5f5f5;
}
/*======슬라이더=======*/
.slide-list {
	padding: 0;
}
/* ===================================
    Footer style
====================================== */
footer {
	margin-top: 70px;
	background-color: #303740;
	padding: 30px 0;
}

footer .copyright {
	font-size: 13px;
	line-height: 20px;
	color: #f1f1f1;
}

footer .copyright address {
	margin-bottom: 0;
}

footer .footer-menu li {
	display: inline-block;
	padding: 0 10px;
}

footer .footer-menu li a {
	display: block;
	color: #f1f1f1;
	font-size: 13px;
}

/*===========본문=========== */
/*섹션전체에 패딩 추가*/
section {
	/*위 60px 나머지 0 */
	
}

.prod-list, .prod-link {
	border: 1px solid #ddd; /*윤곽 1, 한줄, 색상 */
	display: block; /* 블락요소로 변경 반드시 필요 */
	text-align: center; /*이미지 가운데 정렬*/
	/* position: relative;*/
}
/*기본 부트설정은 좌우 15px임 -> col에 대해 전부 5px로 바꿔버린다*/
.prod-list, .prod-list>li[class*="col-"] {
	padding: 5px;
}

/*호버기능 추가*/
.prod-link:hover {
	border-color: #4285F4;
}

.prod-link>.arrow {
	display: block; /*span은 인라인 요소입니다 인라인요소는 position속성을 사용할수 없습니다*/
	position: absolute;
	/*원래 위치에서 따로 띠어내어 부모위치로 조정한다 width, heigth를 필수로 지정해야한다*/
	left: 15px; /*좌우 위치조정 left, right 중 한개만쓴다*/
	bottom: 15px; /*위아래 위치조정 top, bottom 중한개만 쓴다 */
	width: 36px; /* 넓이값 조정 */
	height: 36px; /* 높이값 조정*/
	line-height: 36px; /*텍스트가 위치에 맞게 높이와 동일하게 설정 */
	background-color: #ccc;
	color: #fff;
	opacity: 1; /*투명도*/
}
/* .hover클래스의 넓이 색상 투명도*/
.prod-link>.hover {
	width: 100px;
	background-color: #4285F4;
	opacity: 0;
}
/*link호버시 arrow클래스를 투명도 0*/
.prod-link:hover>.arrow {
	opacity: 0;
}
/*link호버시 hover클래스를 투명도 1*/
.prod-link:hover>.hover {
	opacity: 1;
}

/*========회원가입 폼 디자인=========*/
/*제목박스(계속사용) */
.titlebox {
	width: 250px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
	margin-top: 100px;
	margin-bottom: 130px;
	/* border-top: 1px solid #E1E1E1; */
	/* border-bottom: 1px solid #E1E1E1;
}

.join-form {
	margin: 0 auto;
	/*가운대 정렬방법 하지만 적용되지 않는다. 이유는 col클래스들이 float:left를 들고 있기 때문*/
	float: none; /*플롯을 해제한다. 가운대정렬이 들어간다*/
}
/*조인폼클래스의 form태그의 접근 */
.join-form form {
	border-radius: 8px; /*윤곽 8*/
	padding: 15px; /*모든 패딩 15*/
	/*박스 쉐도우: 그림자가 가로로떨어진간격, 세로로떨어진 간격, 흐릿정도, 그림자색상*/
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15)
}

.input-group-addon {
	padding: 0;
	border: none; /*윤곽 모두 0*/
	border-radius: 0;
}
/*폼컨트롤, 인풋그룹 내부에 모든 버튼 라디우스 0 */
.form-control, .form-group .btn {
	border-radius: 0;
}
/*포커스시 윤곽 색 변경*/
.form-control:focus {
	border-color: #555;
}
/* 핸드폰폼 디자인 */
.input-group .phone1 {
	width: 33.3333%;
}

.input-group .phone2 {
	width: 66.6666%;
}
/*이메일폼 디자인 */
.email-form {
	box-sizing: border-box;
	overflow: hidden;
}

.email-form input {
	width: 33.33%;
	float: left;
}

.email-form select {
	width: 66.66%;
	float: left;
}
/*=========로그인 디자인==========*/
.login-form {
	margin: 0 auto;
	float: none;
}

.login-form form {
	border-radius: 8px; /*윤곽 8*/
	padding: 70px 120px; /*위아래, 좌우*/
	/*박스 쉐도우: 그림자가 가로로떨어진간격, 세로로떨어진 간격, 흐릿정도, 그림자색상*/
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	margin-bottom: 174px; /*화면에 딱맞게 밀어준다*/
}

/*========회원정보 디자인=========*/
.m-control .m-title {
	min-width: 100px; /*화면줄었을때 최소크기*/
	vertical-align: middle; /*가운대 정렬*/
}

.m-control .form-control {
	width: 200px;
	display: inline; /*인라인요소로 변경한다*/
}
/*개발자 도구에서 input-sm의 정렬을 푼다*/
.m-control .input-sm {
	height: auto;
	line-height: normal;
}
/*sel의 크기만 지정*/
.m-control  .sel {
	width: 80px;
}

.m-control .add {
	width: 400px;
}

.titlefoot {
	text-align: center; /*인라인의 텍스트정렬 가운데*/
	margin: 30px auto; /*박스의 가운데정렬*/
	width: 50%; /*크기 50%*/
}

/*==========자유게시판 디자인==========*/
/*자게 그리드*/
.board-table {
	float: none; /*col의 플로팅 해제 */
	margin: 0 auto;
}
/*---검색버튼--- */
.search-wrap {
	overflow: hidden; /*부모요소에 히든 */
	margin-bottom: 20px;
}

.search-btn, .search-input, .search-select {
	float: right; /*우측 플로팅 */
}

.search-input {
	width: 140px;
}

.search-select {
	width: 80px;
}

/*제목에 클래스를 줘서 강제로 크기 고정*/
.board-title {
	width: 300px;
}
/*th의 순차적 접근 색상변경 */
.table-bordered>thead>tr>th {
	background-color: #e8ddcc ;
	color: #003366;
	text-align: center;
}

.contentbox {
	border: solid 1px #e1e1e1;
	margin-top: 20px;
	padding: 20px;
	border-radius: 12px;
}

.tablestyle {
	text-align: center;
}

/*테이블 안에 a태그에 순차적 접근 */
.table-bordered>tbody>tr>td>a, .table-bordered>tbody>tr>td>a:hover {
	color: black;
}

.pagination {
	margin: 0; /*페이지 네이션의 기본 마진 0*/
}

.text-center .btn {
	float: right; /*오른쪽으로 쌓아서 우측정렬 시킨다*/
	border: 0; /*border스타일 해제*/
	border-radius: 0; /*윤곽 0*/
	padding: 5px 10px; /*버튼 패딩을 페이지네이션과 맞춘다*/
}

/*==========자게 글쓰기==========*/
.t-control .t-title {
	min-width: 100px; /*화면줄었을때 최소크기*/
	vertical-align: middle; /*테이블에서 세로 가운대정렬*/
	width: 200px;
}

/*input 요소의 넓이만 선택*/
.t-control input {
	width: 200px;
	display: inline; /*인라인요소로 변경한다*/
}

/*개발자 도구에서 input-sm의 정렬을 푼다*/
.t-control .input-sm {
	height: auto;
	line-height: normal;
}
/*td의 아래만 밑줄*/
.t-control td {
	border-bottom: 1px solid #E1E1E1;
}

.titlefoot {
	text-align: center;
	margin: 30px auto; /*박스의 가운데정렬*/
	width: 50%; /*크기 50%*/
}
/*==========자게 상세보기==========*/
.write-wrap {
	margin: 0 auto;
	/*가운대 정렬방법 하지만 적용되지 않는다. 이유는 col클래스들이 float:left를 들고 있기 때문*/
	float: none; /*플롯을 해제한다. 가운대정렬이 들어간다*/
}
/*=======댓글========*/
.reply-wrap {
	background-color: #f5f5f5;
	padding: 15px;
	border: 1px solid #ddd;
	position: relative; /*부모에 relative*/
}

.reply-wrap .reply-image {
	position: absolute; /*자식에서 absolute로 부모요소 위치로 조정*/
	left: 15px;
	top: 15px;
}

.reply-wrap .reply-content {
	padding-left: 60px;
}
/*부트스트랩의 form-control 조정 */
.reply-content>.form-control {
	resize: vertical; /*세로로만 조정가능*/
	width: 100%; /*최대 100%*/
	min-height: 80px; /*최대 넓이*/
	margin-bottom: 10px;
}

.reply-input>.form-control {
	width: 200px;
	margin-bottom: 5px;
}

.reply-group {
	overflow: hidden;
}

.reply-input {
	float: left;
}

.reply-group .right {
	float: right;
}

/*댓글 영역*/
.reply-group small {
	margin-left: 10px;
	height: 20px;
	line-height: 20px;
}

.reply-group small, .reply-group strong {
	float: left;
}

.reply-group a {
	text-decoration: none;
	color: #777;
	float: right;
}
/*댓글창 포커스시 서서히 보이기 */
.reply-content textarea {
	height: 50px;
	transition: height .4s ease-in-out;
}

.reply-content textarea:focus {
	height: 150px;
}
/*==========토글탭 mypage==========*/
.tabs-style {
	background-color: #607D8B;
}
/*탭버튼 아래 마진 50*/
.tabs-style {
	margin-bottom: 50px;
}

.tabs-style>li {
	margin-bottom: 0;
}

.tabs-style li a {
	background-color: #e8ddcc  ;
	border: none;
	margin: 0;
	border-radius: 0px;
}

.tabs-style li.active a, .tabs-style li.active a:hover, .tabs-style li.active a:focus
	{
	border: none;
	background-color: #56707D;
	color: #fff;
}

.myInfo {
	margin: 0 auto;
	float: none;
}

.myInfo-inner {
	margin: 0;
	float: none;
}

/*==========mypage check==========*/
.infoCheck {
	margin: 0 auto;
	float: none;
}

.infoCheck-form ul {
	width: 270px;
	margin: 0 auto;
}

.infoCheck-form li {
	position: relative;
	padding-left: 95px;
}

.infoCheck-form li .lab {
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.infoCheck-form input {
	width: 170px;
	margin: 0;
}

.infoCheck .alert {
	margin-bottom: 50px;
	border-radius: 0;
}

.infoCheck-btn {
	width: 270px;
	margin-top: 40px;
	margin: 0 auto;
}

.infoCheck-btn button {
	margin-top: 20px;
	padding: 5px 51.5px;
}

/* ==========snsList.jsp========== */
/*부트스트랩 li의 drophover클래스 호버시에 드롭다운 적용코드*/
ul.nav li.drophover:hover>ul.dropdown-menu {
	display: block;
	margin: 0;
}

.aside-inner {
	position: fixed;
	top: 70px;
	width: 180px;
}

.section-inner {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: white;
}

.section-inner p, .aside-inner p {
	margin: 0;
}

.title-inner {
	position: relative;
	padding: 15px 0;
}

.title-inner .profile {
	position: absolute; /*부모기준으로 위치지정 릴레이티브*/
	top: 15px;
	left: 0;
}

.title-inner .title {
	padding-left: 50px;
}
/*내용*/
.content-inner {
	padding: 10px 0;
}
/* 이미지영역  */
.image-inner img {
	width: 100%;
}
/*좋아요*/
.like-inner {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 10px;
}

.like-inner img {
	width: 20px;
	height: 20px;
}

.link-inner {
	overflow: hidden;
	padding: 10px 0;
}

.link-inner a {
	float: left;
	width: 33.3333%;
	text-align: center;
	text-decoration: none;
	color: #333333;
}

.link-inner i {
	margin: 0 5px;
}

/*767미만 사이즈에서 해당 css가 적용됨*/
/*xs가 767사이즈   */
@media ( max-width :767px) {
	aside {
		display: none;
	}
}
/* 파일업로드 버튼 바꾸기 */
.filebox label {
	display: inline-block;
	padding: 6px 10px;
	color: #fff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #5cb85c;
	cursor: pointer;
	border: 1px solid #4cae4c;
	border-radius: none;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.filebox label:hover {
	background-color: #6ed36e;
}

.filebox label:active {
	background-color: #367c36;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* sns파일 업로드시 미리보기  */
.fileDiv {
	height: 100px;
	width: 200px;
	display: none;
	margin-bottom: 10px;
}

.fileDiv img {
	width: 100%;
	height: 100%;
}
/* 모달창 조절 */
.modal-body {
	padding: 0px;
}

.modal-content>.row {
	margin: 0px;
}

.modal-body>.modal-img {
	padding: 0px;
}

.modal-body>.modal-con {
	padding: 15px;
}

.modal-inner {
	position: relative;
}

.modal-inner .profile {
	position: absolute; /*부모기준으로 위치지정 릴레이티브*/
	top: 0px;
	left: 0px;
}

.modal-inner .title {
	padding-left: 50px;
}

.modal-inner p {
	margin: 0px;
}

textarea::placeholder {
  color: #e8ddcc ;
  font-style: italic;
}

textarea::-webkit-input-placeholder {
  color: #e8ddcc ;
}
textarea:-ms-input-placeholder {
  color: #e8ddcc ;
}
