/*=========����Ʈ ����=========*/
@import
	url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap')
	;

/*===========================*/
/*������ ���۽� �⺻ ����*/
/*깨지나 확인해보세요 */


* { /* �⺻����: ����, �е� 0, ���ũ�⿡ padding, border���� ���� x*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* placeholder ���� Ŭ���� �������� �ϴ� ��� */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers / color:transparent; } input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { / Mozilla Firefox 4 to 18 / color:transparent; } input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { / Mozilla Firefox 19+ / color:transparent; } input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { / Internet Explorer 10+ */ color:transparent; }

/* �۾��� ĭ ũ����� */
textarea {resize: none;}


.star_grade a{
	text-decoration: none;
	color: gray;
	font-size: 30px;
	cursor: hand;
}
.star_grade a.on{
    color: darkgoldenrod;
}

#notice_review_star {
	text-align:right;
	text-decoration: none;
	font-size: 20px;

}
#notice_review_star a {
	color: darkgoldenrod;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.star{
	color: darkgoldenrod;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body, html {
	width: 100%;
	min-width: 320px;
	font-family: 'Noto Sans KR', sans-serif; /*����Ʈ ���*/
}

img {
	max-width: 100%; /*����� ���ص� ���̸� ���� */
	height: auto; /*����� ���ص� ���̸� ���� */
	/*vertical-align: top;*/
}

input, textarea, button, select {
	/*�����ϰ� ����Ǿ��ִ� form���� ��ҵ��� �����ؼ� �������������� �����ѵ������� �����*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none
}

ul, ol, dl, li {
	list-style: none /*���� ��ҵ��� ����Ʈ��Ÿ���� ���ش� */
}

.btn {
	border-radius: 0px;
}

/*=========���=========*/
.carousel-control.right, .carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
		rgba(0, 0, 0, 0) 100%)
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50; /*position�� �̿��ϸ� ��Ұ� ������ �� �ִ�. ���ڰ� ���� �������� ���� ��������*/
}

header {
	background: #263238;
}

section {
	margin-top: 50px;
}

/*header �� ��� �����̳� Ŭ������ ������ */
header .container {
	padding: 0;
}
/*navbar�� margin: 0���� */
.navbar {
	margin-bottom: 0px;
}
/*�̹��� ��ġ ���� */
.navbar-brand {
	padding: 10px 15px;
}

/*na�� a ȣ���� ��� ���� */
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #304047;
}

/* ��۸޴� ������ ���� */
.navbar-toggle {
	border-color: white;
}

.navbar-toggle>.icon-bar {
	background-color: white;
}
/*�����ڵ������� Ȯ���� ���򺯰�*/
.nav .open>a:focus {
	background-color: #304047;
}
/*��Ʈ��Ʈ���� ��Ӵٿ�� a�±� ���󺯰�  */
.dropdown-menu>li>a {
	color: #f5f5f5;
}
/*======�����̴�=======*/
.slide-list {
	padding: 0;
}
/* ===================================
    Footer style
====================================== */
footer {
	margin-top: 70px;
	background-color: #303740;
	padding: 30px 0;
}

footer .copyright {
	font-size: 13px;
	line-height: 20px;
	color: #f1f1f1;
}

footer .copyright address {
	margin-bottom: 0;
}

footer .footer-menu li {
	display: inline-block;
	padding: 0 10px;
}

footer .footer-menu li a {
	display: block;
	color: #f1f1f1;
	font-size: 13px;
}

/*===========����=========== */
/*������ü�� �е� �߰�*/
section {
	/*�� 60px ������ 0 */
	
}

.prod-list, .prod-link {
	border: 1px solid #ddd; /*���� 1, ����, ���� */
	display: block; /* �����ҷ� ���� �ݵ�� �ʿ� */
	text-align: center; /*�̹��� ��� ����*/
	/* position: relative;*/
}
/*�⺻ ��Ʈ������ �¿� 15px�� -> col�� ���� ���� 5px�� �ٲ������*/
.prod-list, .prod-list>li[class*="col-"] {
	padding: 5px;
}

/*ȣ����� �߰�*/
.prod-link:hover {
	border-color: #4285F4;
}

.prod-link>.arrow {
	display: block; /*span�� �ζ��� ����Դϴ� �ζ��ο�Ҵ� position�Ӽ��� ����Ҽ� �����ϴ�*/
	position: absolute;
	/*���� ��ġ���� ���� ���� �θ���ġ�� �����Ѵ� width, heigth�� �ʼ��� �����ؾ��Ѵ�*/
	left: 15px; /*�¿� ��ġ���� left, right �� �Ѱ�������*/
	bottom: 15px; /*���Ʒ� ��ġ���� top, bottom ���Ѱ��� ���� */
	width: 36px; /* ���̰� ���� */
	height: 36px; /* ���̰� ����*/
	line-height: 36px; /*�ؽ�Ʈ�� ��ġ�� �°� ���̿� �����ϰ� ���� */
	background-color: #ccc;
	color: #fff;
	opacity: 1; /*����*/
}
/* .hoverŬ������ ���� ���� ����*/
.prod-link>.hover {
	width: 100px;
	background-color: #4285F4;
	opacity: 0;
}
/*linkȣ���� arrowŬ������ ���� 0*/
.prod-link:hover>.arrow {
	opacity: 0;
}
/*linkȣ���� hoverŬ������ ���� 1*/
.prod-link:hover>.hover {
	opacity: 1;
}

/*========ȸ������ �� ������=========*/
/*����ڽ�(��ӻ��) */
.titlebox {
	width: 250px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
	margin-top: 100px;
	/* border-top: 1px solid #E1E1E1; */
	/* border-bottom: 1px solid #E1E1E1;
}

.join-form {
	margin: 0 auto;
	/*����� ���Ĺ�� ������ ������� �ʴ´�. ������ colŬ�������� float:left�� ��� �ֱ� ����*/
	float: none; /*�÷��� �����Ѵ�. ����������� ����*/
}
/*������Ŭ������ form�±��� ���� */
.join-form form {
	border-radius: 8px; /*���� 8*/
	padding: 15px; /*��� �е� 15*/
	/*�ڽ� ������: �׸��ڰ� ���ηζ���������, ���ηζ����� ����, �帴����, �׸��ڻ���*/
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15)
}

.input-group-addon {
	padding: 0;
	border: none; /*���� ��� 0*/
	border-radius: 0;
}
/*����Ʈ��, ��ǲ�׷� ���ο� ��� ��ư ���콺 0 */
.form-control, .form-group .btn {
	border-radius: 0;
}
/*��Ŀ���� ���� �� ����*/
.form-control:focus {
	border-color: #555;
}
/* �ڵ����� ������ */
.input-group .phone1 {
	width: 33.3333%;
}

.input-group .phone2 {
	width: 66.6666%;
}
/*�̸����� ������ */
.email-form {
	box-sizing: border-box;
	overflow: hidden;
}

.email-form input {
	width: 33.33%;
	float: left;
}

.email-form select {
	width: 66.66%;
	float: left;
}
/*=========�α��� ������==========*/
.login-form {
	margin: 0 auto;
	float: none;
}

.login-form form {
	border-radius: 8px; /*���� 8*/
	padding: 70px 120px; /*���Ʒ�, �¿�*/
	/*�ڽ� ������: �׸��ڰ� ���ηζ���������, ���ηζ����� ����, �帴����, �׸��ڻ���*/
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	margin-bottom: 174px; /*ȭ�鿡 ���°� �о��ش�*/
}

/*========ȸ������ ������=========*/
.m-control .m-title {
	min-width: 100px; /*ȭ���پ����� �ּ�ũ��*/
	vertical-align: middle; /*����� ����*/
}

.m-control .form-control {
	width: 200px;
	display: inline; /*�ζ��ο�ҷ� �����Ѵ�*/
}
/*������ �������� input-sm�� ������ Ǭ��*/
.m-control .input-sm {
	height: auto;
	line-height: normal;
}
/*sel�� ũ�⸸ ����*/
.m-control  .sel {
	width: 80px;
}

.m-control .add {
	width: 400px;
}

.titlefoot {
	text-align: center; /*�ζ����� �ؽ�Ʈ���� ���*/
	margin: 30px auto; /*�ڽ��� �������*/
	width: 50%; /*ũ�� 50%*/
}

/*==========�ڰ� ������==========*/
/*�ڰ� �׸���*/
.board-table {
	float: none; /*col�� �÷��� ���� */
	margin: 0 auto;
}
/*---�˻���ư--- */
.search-wrap {
	overflow: hidden; /*�θ��ҿ� ���� */
	margin-bottom: 20px;
}

.search-btn, .search-input, .search-select {
	float: right; /*���� �÷��� */
}

.search-input {
	width: 140px;
}

.search-select {
	width: 80px;
}

/*���� Ŭ������ �༭ ������ ũ�� ����*/
.board-title {
	width: 300px;
}
/*th�� ������ ���� ���󺯰� */
.table-bordered>thead>tr>th {
	background-color: #7dadcd;
	color: #003366;
	text-align: center;
}

.contentbox {
	border: solid 1px #e1e1e1;
	margin-top: 20px;
	padding: 20px;
	border-radius: 12px;
}

.tablestyle {
	text-align: center;
}

/*���̺� �ȿ� a�±׿� ������ ���� */
.table-bordered>tbody>tr>td>a, .table-bordered>tbody>tr>td>a:hover {
	color: black;
}

.pagination {
	margin: 0; /*������ ���̼��� �⺻ ���� 0*/
}

.text-center .btn {
	float: right; /*���������� �׾Ƽ� �������� ��Ų��*/
	border: 0; /*border��Ÿ�� ����*/
	border-radius: 0; /*���� 0*/
	padding: 5px 10px; /*��ư �е��� ���������̼ǰ� �����*/
}

/*==========�ڰ� �۾���==========*/
.t-control .t-title {
	width: 100px;
	min-width: 100px; /*ȭ���پ����� �ּ�ũ��*/
	vertical-align: middle; /*���̺��� ���� ���������*/
}

/*input ����� ���̸� ����*/
.t-control input {
	width: 500px;
	display: inline; /*�ζ��ο�ҷ� �����Ѵ�*/

}

/*������ �������� input-sm�� ������ Ǭ��*/
.t-control .input-sm {
	width: 200px;
	height: auto;
	line-height: normal;
	width: 100%;
}
/*td�� �Ʒ��� ����*/
.t-control td {
	border-bottom: 1px solid #E1E1E1;
}

.titlefoot {
	text-align: center;
	margin: 30px auto; /*�ڽ��� �������*/
	width: 50%; /*ũ�� 50%*/
}
/*==========�ڰ� �󼼺���==========*/
.write-wrap {
	margin: 0 auto;
	/*����� ���Ĺ�� ������ ������� �ʴ´�. ������ colŬ�������� float:left�� ��� �ֱ� ����*/
	float: none; /*�÷��� �����Ѵ�. ����������� ����*/
}
/*=======���========*/
.reply-wrap {
	background-color: #f5f5f5;
	padding: 15px;
	border: 1px solid #ddd;
	position: relative; /*�θ� relative*/
}

.reply-wrap .reply-image {
	position: absolute; /*�ڽĿ��� absolute�� �θ��� ��ġ�� ����*/
	left: 15px;
	top: 15px;
}

.reply-wrap .reply-content {
	padding-left: 60px;
}
/*��Ʈ��Ʈ���� form-control ���� */
.reply-content>.form-control {
	resize: vertical; /*���ηθ� ��������*/
	width: 100%; /*�ִ� 100%*/
	min-height: 80px; /*�ִ� ����*/
	margin-bottom: 10px;
}

.reply-input>.form-control {
	width: 200px;
	margin-bottom: 5px;
}

.reply-group {
	overflow: hidden;
}

.reply-input {
	float: left;
}

.reply-group .right {
	float: right;
}

/*��� ����*/
.reply-group small {
	margin-left: 10px;
	height: 20px;
	line-height: 20px;
}

.reply-group small, .reply-group strong {
	float: left;
}

.reply-group a {
	text-decoration: none;
	color: #777;
	float: right;
}
/*���â ��Ŀ���� ������ ���̱� */
.reply-content textarea {
	height: 50px;
	transition: height .4s ease-in-out;
}

.reply-content textarea:focus {
	height: 150px;
}
/*==========����� mypage==========*/
.tabs-style {
	background-color: #607D8B;
}
/*�ǹ�ư �Ʒ� ���� 50*/
.tabs-style {
	margin-bottom: 50px;
}

.tabs-style>li {
	margin-bottom: 0;
}

.tabs-style li a {
	background-color: #607D8B;
	border: none;
	margin: 0;
	border-radius: 0px;
}

.tabs-style li.active a, .tabs-style li.active a:hover, .tabs-style li.active a:focus
	{
	border: none;
	background-color: #56707D;
	color: #fff;
}

.myInfo {
	margin: 0 auto;
	float: none;
}

.myInfo-inner {
	margin: 0;
	float: none;
}

/*==========mypage check==========*/
.infoCheck {
	margin: 0 auto;
	float: none;
}

.infoCheck-form ul {
	width: 270px;
	margin: 0 auto;
}

.infoCheck-form li {
	position: relative;
	padding-left: 95px;
}

.infoCheck-form li .lab {
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.infoCheck-form input {
	width: 170px;
	margin: 0;
}

.infoCheck .alert {
	margin-bottom: 50px;
	border-radius: 0;
}

.infoCheck-btn {
	width: 270px;
	margin-top: 40px;
	margin: 0 auto;
}

.infoCheck-btn button {
	margin-top: 20px;
	padding: 5px 51.5px;
}

/* ==========snsList.jsp========== */
/*��Ʈ��Ʈ�� li�� drophoverŬ���� ȣ���ÿ� ��Ӵٿ� �����ڵ�*/
ul.nav li.drophover:hover>ul.dropdown-menu {
	display: block;
	margin: 0;
}

.aside-inner {
	position: fixed;
	top: 70px;
	width: 180px;
}

.section-inner {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: white;
}

.section-inner p, .aside-inner p {
	margin: 0;
}

.title-inner {
	position: relative;
	padding: 15px 0;
}

.title-inner .profile {
	position: absolute; /*�θ�������� ��ġ���� ������Ƽ��*/
	top: 15px;
	left: 0;
}

.title-inner .title {
	padding-left: 50px;
}
/*����*/
.content-inner {
	padding: 10px 0;
}
/* �̹�������  */
.image-inner img {
	width: 100%;
}
/*���ƿ�*/
.like-inner {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 10px;
}

.like-inner img {
	width: 20px;
	height: 20px;
}

.link-inner {
	overflow: hidden;
	padding: 10px 0;
}

.link-inner a {
	float: left;
	width: 33.3333%;
	text-align: center;
	text-decoration: none;
	color: #333333;
}

.link-inner i {
	margin: 0 5px;
}

/*767�̸� ������� �ش� css�� �����*/
/*xs�� 767������   */
@media ( max-width :767px) {
	aside {
		display: none;
	}
}
/* ���Ͼ��ε� ��ư �ٲٱ� */
.filebox label {
	display: inline-block;
	padding: 6px 10px;
	color: #fff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #5cb85c;
	cursor: pointer;
	border: 1px solid #4cae4c;
	border-radius: none;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.filebox label:hover {
	background-color: #6ed36e;
}

.filebox label:active {
	background-color: #367c36;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* sns���� ���ε�� �̸�����  */
.fileDiv {
	height: 100px;
	width: 200px;
	display: none;
	margin-bottom: 10px;
}

.fileDiv img {
	width: 100%;
	height: 100%;
}
/* ���â ���� */
.modal-body {
	padding: 0px;
}

.modal-content>.row {
	margin: 0px;
}

.modal-body>.modal-img {
	padding: 0px;
}

.modal-body>.modal-con {
	padding: 15px;
}

.modal-inner {
	position: relative;
}

.modal-inner .profile {
	position: absolute; /*�θ�������� ��ġ���� ������Ƽ��*/
	top: 0px;
	left: 0px;
}

.modal-inner .title {
	padding-left: 50px;
}

.modal-inner p {
	margin: 0px;
}





