<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hodu.domain.board.mapper.BoardMapper">
  
   <insert id="regItemboard" parameterType="com.hodu.domain.model.ItemDTO">
   <selectKey keyProperty="item_code" resultType="int" order="BEFORE">
    select ITEM_BOARD_SEQ.nextval FROM DUAL
  </selectKey>
		INSERT INTO 
			item_board 
		VALUES 
		(#{item_code}, #{member_id}, #{item_category}, #{item_title}, #{item_price}, #{item_place}, 'Y',sysdate,0,0.0,#{item_one_day},#{item_NOP},
		#{item_content_who},#{item_content_what},#{item_content_target},#{item_content_how},sysdate, #{item_thumbnailimg})
	</insert>
	
	<insert id="addBoardImg" parameterType="com.hodu.domain.model.BoardImgDTO">
		INSERT INTO
			board_image
		VALUES
			(
			BIMAGE_SEQ.nextval,#{member_id},#{board_name},#{board_postnum},#{bimg_org_name},#{bimg_new_name},
			#{bimg_size},sysdate
			)
	</insert>
	
	<insert id="addItemSelect" parameterType="com.hodu.domain.model.ItemSelectDTO">
		INSERT INTO
			item_select
		VALUES
			(
			ITEM_SELECT_SEQ.nextval, #{item_people}, #{item_start_date}, #{item_end_date},  #{item_code}
			)
	</insert>
	
	<select id="getItemPage" resultType="com.hodu.domain.model.ItemDTO">

		  SELECT * FROM item_board WHERE (ITEM_CATEGORY LIKE(#{item_type}) AND item_show='Y') ORDER BY item_code OFFSET (#{page}-1)*9 ROWS FETCH FIRST 9 ROWS ONLY

	</select>
	
	<select id="getUserImg" resultType="String">

		  SELECT member_img FROM hodu_member WHERE member_id = #{member_id}

	</select>
	
	<select id="getUserNickname" resultType="String">

		  SELECT member_nickname FROM hodu_member WHERE member_id = #{member_id}

	</select>
	
	<select id="getItemCnt" resultType="int">
		SELECT count(*) FROM item_board WHERE ITEM_CATEGORY LIKE(#{item_type})
	</select>

	<select id="getItem" resultType="com.hodu.domain.model.ItemDTO">

		  SELECT * FROM item_board WHERE item_code= #{item_code}

	</select>
	
	<select id="getItemBoardImg" resultType="com.hodu.domain.model.BoardImgDTO">

		  SELECT * FROM board_image WHERE board_postnum = #{item_code} AND board_name='item_board'

	</select>

	<select id="getItemSelect" resultType="com.hodu.domain.model.ItemSelectDTO">

		  SELECT * FROM item_select WHERE item_code = #{item_code}

	</select>

	<select id="getLikeState" resultType="String">
		  SELECT heart_show FROM my_heart WHERE item_code = #{item_code} AND member_id = #{user}
	</select>
	
	<insert id="makeLike" parameterType="com.hodu.domain.model.ItemDTO">
		INSERT INTO
			my_heart
		VALUES
			(
			MY_HEART_SEQ.nextval,#{user},#{item_code},sysdate,'Y'
			)
	</insert>
	
	<update id="likeChange">
		UPDATE my_heart SET heart_show = #{likeStatue} WHERE (member_id = #{user} AND item_code = #{item_code})
	</update>
	
	<update id="boardLikeCount">
		UPDATE item_board SET item_like = item_like + #{num} WHERE item_code = #{item_code}
	</update>
  
  	<insert id="noticeBoardReg" parameterType="com.hodu.domain.model.NoticeDTO">
  		INSERT INTO
			notice_board
		VALUES
			(
			NOTICE_BOARD_SEQ.nextval,#{member_id},#{notice_title},#{notice_content},sysdate,sysdate,'Y'
			)
  	</insert>
  	
  	<select id="getNoticePage" resultType="com.hodu.domain.model.NoticeDTO">
  		SELECT * FROM notice_board WHERE notice_show = 'Y' ORDER BY notice_postnum OFFSET (#{pagenum}-1)*9 ROWS FETCH FIRST 9 ROWS ONLY
  	</select>
  	
  	<select id="getNotice" resultType="com.hodu.domain.model.NoticeDTO">
		SELECT * FROM notice_board WHERE notice_postnum= #{notice_postnunm}
	</select>
	
	<select id="getReviews" resultType="com.hodu.domain.model.ReviewDTO" >
		SELECT * FROM review_board WHERE item_code = #{item_code}
	</select>
	
	<update id="updateNotice">
		UPDATE notice_board SET notice_content = #{notice_content}, notice_title = #{notice_title}, notice_modify_date = sysdate WHERE notice_postnum = #{notice_postnum}
	</update>
  	
  	<update id="noticeChangeShow">
		UPDATE notice_board SET notice_show = 'N' WHERE notice_postnum = #{notice_postnum}
	</update>
	
	<select id ="getMainItemLike" resultType="com.hodu.domain.model.ItemDTO">
		SELECT * FROM item_board WHERE item_one_day = #{item_one_day} ORDER BY item_like DESC FETCH FIRST 3 ROWS ONLY
	</select>
	
	<select id ="getMainItemNew" resultType="com.hodu.domain.model.ItemDTO">
		SELECT * FROM item_board WHERE item_one_day = #{item_one_day} ORDER BY item_code DESC FETCH FIRST 3 ROWS ONLY
	</select>
	
	<select id ="getMyHeartInfo" resultType="com.hodu.domain.model.MyHeartDTO">
		SELECT * FROM my_heart WHERE member_id = #{member_id} AND heart_show = 'Y' ORDER BY heart_date DESC
	</select> 
	
	<insert id="regInquiry" parameterType="com.hodu.domain.model.InquiryDTO">
  		INSERT INTO
			inquiry_board
		VALUES
			(
			INQUIRY_BOARD_SEQ.nextval,#{member_id},#{inquiry_group},#{inquiry_title},#{inquiry_content},sysdate,'Y',sysdate,#{inquiry_img}
			)
  	</insert>
  	
  	<select id ="inquiryList" resultType="com.hodu.domain.model.InquiryDTO">
		SELECT * FROM inquiry_board WHERE member_id = #{member_id} AND inquiry_show = 'Y' ORDER BY inquiry_date DESC
	</select> 
	
	 <select id ="getInquiry" resultType="com.hodu.domain.model.InquiryDTO">
		SELECT * FROM inquiry_board WHERE inquiry_postnum = #{inquiry_postnum}
	</select> 
	
	<update id="delItem">
		UPDATE item_board SET item_show = 'N' WHERE item_code = #{item_code}
	</update>
	
	<delete id="delBoardImg">
		DELETE FROM board_image WHERE board_postnum = #{item_code} AND board_name = 'item_board'
	</delete>
	
  </mapper>