<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.hodu.domain.account.mapper.MemberMapper">

	<!-- 회원 가입 -->
	<insert id="addMember">
		INSERT INTO hodu_member VALUES (
		#{member_id},
		'BRONZE',
		'BRONZE',
		#{member_nickname},
		#{member_pw},
		#{member_name},
		null,
		#{member_phone},
		#{member_address},
		#{member_email},
		0,
		sysdate,
		'N',
		1,
		#{member_postcode},
		#{member_detailaddress},
		'N'
		)
	</insert>

	<!-- 로그인 -->
	<select id="memberLogin"
		resultType="com.hodu.domain.model.MemberDTO">

		SELECT * FROM HODU_MEMBER WHERE member_id = #{member_id} and member_pw = #{member_pw}
		<!-- SELECT * FROM HODU_MEMBER WHERE member_id = #{member_id} -->

	</select>

	<!-- 아이디 체크 -->
	<select id="idCheck" resultType="int">
		select count(*) from hodu_member
		where member_id= #{member_id}
	</select>

	<!-- 닉네임 체크 -->
	<select id="nickCheck" resultType="int">
		select count(*) from
		hodu_member where member_nickname= #{member_nickname}
	</select>
	<!-- 수정시 닉네임 체크 -->
	<select id="updateNickCheck" resultType="String">
		select member_nickname
		from hodu_member where member_id= #{member_id}
	</select>

	<!-- 폰 체크 -->
	<select id="phoneCheck" resultType="int">
		select count(*) from
		hodu_member where member_phone= #{member_phone}
	</select>

	<!-- 이메일 체크 -->
	<select id="emailCheck" resultType="int">
		select count(*) from
		hodu_member where member_email= #{member_email}
	</select>

	<!-- 한명 정보만 불러오기 -->
	<select id="memberInfo"
		resultType="com.hodu.domain.model.MemberDTO">
		SELECT * FROM HODU_MEMBER WHERE member_id = #{member_id}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="updateMember">
		UPDATE hodu_member
		SET
		member_nickname =
		#{member_nickname},
		member_address = #{member_address},
		member_postcode = #{member_postcode},
		member_detailaddress = #{member_detailaddress}
		WHERE
		member_id = #{member_id}
	</update>

	<!-- 패스워드 체크 -->
	<select id="pwCheck" resultType="String">
		select member_pw from
		hodu_member where member_id= #{member_id}
	</select>

	<!-- 회원 탈퇴 -->
	<delete id="deleteMember">
		delete from hodu_member where member_id =
		#{member_id}
	</delete>

	<!-- 아이디 찾기 -->
	<select id="findid" resultType="com.hodu.domain.model.MemberDTO">
		SELECT member_id FROM HODU_MEMBER
		WHERE member_name = #{member_name} and member_email = #{member_email}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="findpw" resultType="com.hodu.domain.model.MemberDTO">
		SELECT * FROM HODU_MEMBER
		WHERE member_id = #{member_id} and member_email = #{member_email}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updatePw">
		update hodu_member set member_pw = #{member_pw} where
		member_id = #{member_id}
	</update>

	<!-- 아이디와 일치하는 이메일이 있는지 -->
	<select id="availableEmailCheck" resultType="String">
		select member_email
		from hodu_member where member_id= #{member_id}
	</select>

	<!-- 멘토 등록 -->
	<update id="mentorReg">
		update hodu_member 
		set 
		mentor_enable = 'Y',
		member_img = '멤버이미지' 
		where
		member_id = #{member_id}
	</update>
</mapper>