<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hodu.domain.payment.mapper.PaymentMapper">

	<!-- 한명 정보만 불러오기 -->
	<select id="memberInfo"
		resultType="com.hodu.domain.model.MemberDTO">
		SELECT * FROM HODU_MEMBER WHERE member_id = #{member_id}
	</select>

	<!-- 게시글 한개 불러오기 -->
	<select id="getItem"
		resultType="com.hodu.domain.model.ItemDTO">
		SELECT * FROM ITEM_BOARD WHERE item_code = #{item_code}
	</select>
	
	<!-- 게시글의 한개의 수업시간 받아오기 -->
	<select id="getItemSelect"
		resultType="com.hodu.domain.model.ItemSelectDTO">
		SELECT * FROM item_select WHERE item_code = #{item_code}
	</select>



	<!-- 멤버 호두 가져오기 -->
	<select id="membercash"
		resultType="com.hodu.domain.model.MemberDTO">
		SELECT member_cash FROM HODU_MEMBER WHERE member_id =
		#{member_id}
	</select>

	<!-- 가격 가져오기 -->
	<select id="itemprice"
		resultType="com.hodu.domain.model.ItemDTO">
		SELECT item_price FROM item_board WHERE item_code =
		#{item_code}
	</select>

	<!-- 수강 인원 가져오기 -->
	<select id="countpeople"
		resultType="com.hodu.domain.model.PaymentDTO">
		SELECT item_people FROM item_select WHERE sel_postnum
		=
		#{sel_postnum}
	</select>

	<!-- 수강 인원 업데이트 -->
	<update id="changepeople">
		UPDATE item_select SET item_people = (#{item_people}
		-
		#{apply_people})
		WHERE sel_postnum = #{sel_postnum}
	</update>

	<!-- 결제 하기 -->
	<update id="changemoney">
		UPDATE hodu_member SET member_cash = member_cash - (
		(SELECT item_price FROM item_board WHERE item_code = #{item_code})
		* #{apply_people}
		)
		WHERE member_id = #{member_id}
	</update>

	<insert id="insertorder">
		INSERT INTO receipt VALUES (
		#{member_id },
		#{apply_people },
		#{order_num },
		sysdate
		 )
	</insert>

</mapper>